<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <%= javascript_include_tag 'login_script' %>
</head>
<body>
  <h2 style="text-align: center;">Contador de Prazo</h2>
    <div class="container">
        <form id="login-form">
          <div class="form-group">
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
          </div>
          <div class="form-group">
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
          </div>
          <div class="form-group">
            <input type="submit" value="Entrar">
          </div>
        </form>
        <div id="result"></div>
    </div>      

</body>
</html>